<!-- Including the Header-->
<%- include("../partials/header") %>

<!-- Bootstrap4 Container -->
<div class="row">
    <div class="container">
        <h1 style="text-align: center;">Add New Comment to <%= streamer.name %></h1>
        <!-- The from for adding streamers -->
        <div style="width: 40%; margin: 30px auto;">
            <form action="/streamers/<%= streamer._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Text">
                </div>             
                <button class="btn btn-lg  btn-block btn-primary">Create</button>
            </form>
            <a href="/streamers">Back</a>
        </div>
    </div>
</div>



<!-- Including the Footer-->
<%- include("../partials/footer") %>