<!-- Including the Header -->
<%- include("partials/header") %>



<div class="row">
    <div class="container">
        <div style="width: 40%; margin: 30px auto;">
            <h1 style="text-align: center;">This is the Login Page</h1>
            <form action="/login" method=POST>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

<!-- Including the Footer -->
<%- include("partials/footer") %>